html
  head
    title Preetham Dance Academy
    //- block scripts
    block style
  body
    block content
      nav.top 
        ul 
            div#logo
                img(src="static/img/logo.png", alt="")
                | PDA
            li #[a(href = "/") Home] 
            li #[a(href =" /") About] 
            li #[a(href = "/") Contact] 
            li #[a(href = "/") Class Info] 
            li #[a(href = "/") Services] 
    block foot
  